@import url("/media/base/reset.css");

body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	background: #FFF;
	color: #444;
	position: relative;
}

h1, h2, h3, h4 { font-weight: bold; margin: 0 0 0.5em 0;}
h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }

h1 a, h2 a { text-decoration: none;}

p + h1, p + h2, p + h3, p + h4, ul + h1, ul + h2, ul + h3, ul + h4, ol + h1, ol + h2, ol + h3, ol + h4 { margin-top: 1.1em;}

a:hover { text-decoration: underline;}

p { margin-bottom: 0.5em; }

ul, ol { margin-bottom: 1em; }

blockquote { margin: 0px 10px; font-style: italic; }

em, strong { font-weight: bold; }

header h1, header h2 { font-size: 1.6em;}

header th { font-weight: bold; }
header td { border: solid 5px #FFF;}

footer { text-align: right; }

#content { clear: both; }

.rounded-block {
	border: solid 2px #EEE;
	-moz-border-radius: 2em 0 2em 0;
	border-radius: 2em 0 2em 0;
	padding: 1em 1em 0.5em 1em;
}

button {
    display:block;
    float:left;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    width:auto;
    overflow:visible;
}
button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive .button-action {
	font-weight: bold;
	font-size: 1.6em;
}
button.positive, button a.positive{
    color:#529214;
}
button a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
button a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

button a.negative, button.negative{
    color:#d12f19;
}
button a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
button a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}