<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="DC.title" content="{{ site.name }}" />
		<meta name="description" content="Emerge from behind your intellectual firewall and work in public." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
		<link rel="apple-touch-icon" href="{{STATIC_URL}}favicon.png" />

		<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>

		{% include 'base/common_styles.frag' %}
		<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" />
		{% include 'base/common_scripts.frag' %}
		<script src="{{STATIC_URL}}js/base.js"></script>
		{% block extra-links %}{% endblock %}

		<style type="text/css">
			{% block app-style %}{% endblock %}
			{% block sub-style%}{% endblock %}
		</style>
		<!--[if lt IE 9]>
			<script src="{{STATIC_URL}}js/ie_html5.js"></script>
		<![endif]-->

		{% block feed-link %}{% endblock %}
		{% block app-head %}{% endblock %}
		{% block sub-head %}{% endblock %}
	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">{% block body %}
		{%block navbar %}
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="{% url banana.views.index %}">{{ site.name }}</a>
						<div class="nav-collapse">
							<ul class="nav">
								{% if request.user.is_authenticated %}
									<li id="home-nav"><a href="{% url banana.views.user request.user.username %}">Home</a></li>
									<li id="notes-nav" class="dropdown">
										<a id="notes-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Notes <b class="caret"></b></a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="notes-dropdown">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url peach.views.index %}">All</a></li>
											{% if request.user.namespaces.not_archived %}
												<li role="presentation" class="divider"></li>
											{% endif %}
											{% for namespace in request.user.namespaces.not_archived %}
												<li role="presentation">
													<a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a>
												</li>
											{% endfor %}

										</ul>
									</li>
								{% endif %}

								<li id="activity-nav"><a href="{% url banana.views.activity %}">Activity</a></li>

								{% if request.user.is_authenticated and request.user.get_profile.available_invites.count > 0 %}
									<li id="invites-nav">
										<a href="{% url person.views.invites %}">Invites <span class="badge badge-success">{{ request.user.get_profile.available_invites.count }}</span></a>
									</li>
								{% endif %}

								{% if default_help_url %}
									<li id="help-nav"><a href="{{ default_help_url }}">Help</a></li>
								{% endif %}
								{% if request.user.is_staff %}
									<li id="staff-nav"><a href="{% url apple.views.index %}">Staff</a></li>
								{% endif %}

								{% if request.user.is_authenticated and not request.user.get_profile.photo %}
									<li id="intrusive-camera">
										<a href="{% url person.views.profile request.user.username %}#edit-photo">
											<i class="icon-camera-retro"></i>
										</a>
									</li>
								{% endif %}

							</ul>
							{% if request.user.is_authenticated %}
								<p class="navbar-text pull-right">
									/&nbsp;<a href="{% url django.contrib.auth.views.logout_then_login %}">logout</a>
								</p>
								<p class="navbar-text pull-right">
									<a href="{% url person.views.profile request.user.username %}">account</a>&nbsp;
								</p>
							{% else %}
								<p class="navbar-text pull-right"><a href="{% url django.contrib.auth.views.login %}">login</a></p>
							{% endif %}
						</div><!--/.nav-collapse -->
					</div>
				</div>
			</div>
		{% endblock %}
		<div id="content" class="container-fluid">
			{% block content %}{% endblock %}
			{% block footer %}
				<footer>
					{% if terms_of_service_url %}
						<a href="{{ terms_of_service_url }}">terms of service</a>
					{% endif %}
					{% if privacy_policy_url %}
						<a href="{{ privacy_policy_url }}">privacy policy</a>
					{% endif %}
					{% block sub-footer %}{% endblock %}
				</footer>
			{% endblock %}
		</div><!--/.fluid-container-->

		{% if google_analytics_account %}
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{{google_analytics_account}}']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		{% endif %}
	{% endblock %}</body>
</html>
