<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="DC.title" content="{{ site.name }}" />
		<meta name="description" content="Emerge from behind your intellectual firewall and work in public." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{{STATIC_URL}}favicon.gif" rel="shortcut icon" />

		<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>

		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}backbone/backbone.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" />
		{% block extra-links %}{% endblock %}

		<script src="{{STATIC_URL}}js/jquery-1.7.1.js"></script>
    	<script src="{{STATIC_URL}}bootstrap/js/bootstrap-tab.js"></script>
		<script src="{{STATIC_URL}}backbone/underscore-min.js"></script>
		<script src="{{STATIC_URL}}backbone/json/json2.js"></script>
		<script src="{{STATIC_URL}}backbone/backbone-min.js"></script>
		<script src="{% url backbone.api_views.backbone_js %}"></script>
		<script src="{{STATIC_URL}}backbone/search.js"></script>
		<script src="{{STATIC_URL}}js/base.js"></script>

		<style type="text/css">
			.completed-item-meta { float: right; }
			{% block app-style %}{% endblock %}
			{% block sub-style%}{% endblock %}
		</style>
		<!--[if lt IE 9]>
			<script src="{{STATIC_URL}}js/ie_html5.js"></script>
		<![endif]-->

		{% block feed-link %}{% endblock %}
		{% block app-head %}{% endblock %}
		{% block sub-head %}{% endblock %}
	</head>

	<body>{% block body %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{% url banana.views.index %}">{{ site.name }}</a>
					<div class="nav-collapse">
						<ul class="nav">
							{% if request.user.is_authenticated %}
								<li><a href="{% url banana.views.user request.user.username %}">Home</a></li>
								<li><a href="{% url peach.views.index %}">Notes</a></li>
							{% endif %}
							{% if request.user.is_staff %}
								<li><a href="{% url apple.views.index %}">Staff</a></li>
							{% endif %}
						</ul>
						{% if request.user.is_authenticated %}
							<p class="navbar-text pull-right">/ <a href="{% url django.contrib.auth.views.logout_then_login %}">logout</a></p>
							<p class="navbar-text pull-right"><a href="{% url person.views.profile request.user.username %}">account</a>&nbsp;</p>
						{% else %}
							<p class="navbar-text pull-right"><a href="{% url django.contrib.auth.views.login %}">login</a></p>
						{% endif %}
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div id="content" class="container-fluid">
			{% block content %}{% endblock %}
			<hr>

			{% block footer %}<footer>
				{% block sub-footer %}{% endblock %}
			</footer>{% endblock %}
		</div><!--/.fluid-container-->
	{% endblock %}</body>
</html>
