{% extends "peach/base.html" %}
{% load imagetags %}
{% block sub-title %}Notes | {% endblock %}

{% block sub-style %}
#namespace-form input[type=text] { width: 10em; }
.namespace-list li { margin-left: 20px; list-style-type: disc; margin-bottom: 8px; }
.person-photo { margin-top: 20px; }
{% endblock %}

{% block content %}
<h1>Notes:</h1>

{% if request.user.get_profile.photo %}
<a href="{{ request.user.get_absolute_url }}"><img class="person-photo" src="{{ request.user.get_profile.photo.image.url|thumbnail:"50w" }}" width="50" title="{{ request.user.get_full_name}}" alt="{{ request.user.get_full_name}}" /></a>
{% else %}
<a href="{{ request.user.get_absolute_url }}"><img class="person-photo" src="{{STATIC_URL}}person/BlankIcon150x150.jpg" width="50" height="50" /></a>
{% endif %}
<h2><a href="{{ request.user.get_absolute_url }}">{{ request.user.get_full_name }}</a>:</h2>
<ul class="namespace-list">
	{% for namespace in request.user.namespaces.all %}
	<li>
		<a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a>
		{% if not namespace.public %}(private){% endif %}
	</li>
	{% endfor %}
	<li>
		<form id="namespace-form" action="." method="post">{% for field in namespace_form %}{{ field }}{% endfor %}</form>
	</li>
</ul>

{% endblock %}

