{% extends "peach/base.html" %}
{% load imagetags %}
{% block sub-title %}Notes | {% endblock %}

{% block sub-style %}
#namespace-form { display: inline; }
#namespace-form input[type=text] { width: 20em; }
.namespace-list li { margin-left: 20px; list-style-type: disc; margin-bottom: 8px; }
.namespace-list .alert {
	padding-right: 8px;
	min-height: 8em;
}
{% endblock %}

{% block sub-head %}
<script>
$(document).ready(function(){
	$('#notes-nav').addClass('active');
	$('#id_display_name').focus();

});
</script>
{% endblock %}

{% block content %}
{% if not request.user.namespaces.all %}
	<div class="row-fluid">
		<div class="span9 alert alert-info">
			<h2>This is the place for your ideas, Thinker of Thoughts!</h2>
		</div>
	</div>

{% endif %}

<h1>
	Notes
	<form id="namespace-form" action="." method="post">{% for field in namespace_form %}{{ field }}{% endfor %}</form>
</h1>

<div class="row-fluid">
	<ul id="public-list" class="namespace-list span3">
		<h3 class="section-title">Public</h3>
		{% if not request.user.namespaces.public_not_archived %}
			<div class='alert alert-info'>
				Notes which are visible to anyone.
			</div>
		{% endif %}
		{% for namespace in request.user.namespaces.public_not_archived %}
			<li>
				<a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a>
			</li>
		{% endfor %}
	</ul>
	<ul id="private-list" class="namespace-list span3 offset1">
		<h3 class="section-title">Private</h3>
		{% if not request.user.namespaces.private_not_archived %}
			<div class='alert alert-info'>
				Notes which are visible only to you.
			</div>
		{% endif %}
		{% for namespace in request.user.namespaces.private_not_archived %}
			<li>
				<a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a>
			</li>
		{% endfor %}
	</ul>
	<ul id="archive-list" class="namespace-list span3 offset1">
		<h3 class="section-title">Archive</h3>
		{% if not request.user.namespaces.archived %}
			<div class='alert alert-info'>
				<p>Archived notes (public or private) don't show up in your list of notes.</p>
				<p>Public notes are still public, regardless of whether they are archived.</p>
			</div>
		{% endif %}
		{% for namespace in request.user.namespaces.archived %}
			<li>
				<a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

