{% extends "peach/base.html" %}
{% load imagetags %}
{% load wikitags %}
{% block sub-title %}{{ namespace.display_name }} | {% endblock %}

{% block sub-style %}
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div id="left-column" class="span2">
		<ul class="breadcrumb">
			<li>Pages</li>
		</ul>
		<ul class="nav nav-tabs nav-stacked">
			<li class="wiki-page-item-view active">
				<a title="SplashPage" href="{{ page.namespace.splash_page.get_absolute_url }}">SplashPage</a>
			</li>
			{% for wikiPage in page.namespace.pages.all %}
				{% if wikiPage.name != 'SplashPage' %}
					<li class="wiki-page-item-view">
						<a href="{{wikiPage.get_absolute_url}}">{{wikiPage.name}}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% if google_ad_settings.namespace_left %}
			<script type="text/javascript"><!--
				google_ad_client = "{{ google_ad_settings.namespace_left.ad_client }}";
				google_ad_slot = "{{ google_ad_settings.namespace_left.ad_slot }}";
				google_ad_width = 160;
				google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		{% endif %}
	</div>
	<div id="main-column" class="{% if page.wiki_photos.all %}span8{% else %}span10{% endif %}">
		<ul class="breadcrumb">
			<li>
				<a href="{{ page.namespace.owner.get_absolute_url }}">{{ page.namespace.owner.get_full_name }}</a>
			</li>
			<li class="active">
				{{ namespace.display_name }}
			</li>
		</ul>
		<div class="rendered-wrapper span9">{{ page.rendered|include_constants|safe }}</div>
	</div>
	{% if page.wiki_photos.all %}
		<div class="span2">
			<ul class="breadcrumb">
				<li>Photos</li>
			</ul>
			{% include "peach/wiki_photo_collection_view.frag" %}
		</div>
	{% endif %}
</div>
{% endblock %}