{% extends "peach/base.html" %}
{% load wikitags %}
{% load imagetags %}
{% block sub-title %}{{ namespace.display_name }} | {% endblock %}

{% block sub-style %}
#main-column {
	width: 840px;
	float: right;
}
#left-column { 
	width: 140px; 
	border-right: solid 1px #DDD;
}
#left-column button { display: block; width: 95%; margin: 1em 0; }
#left-column li { list-style: none; margin-left: 0px; padding-bottom: 8px; }
#left-column input { width: 95%; }
{% endblock %}

{% block sub-head %}
<script>
$(document).ready(function(){
	$('#toggle-public').click(function(){ togglePublicity(); });
	$('#toggle-archive').click(function(){ toggleArchive(); });
});

function togglePublicity(){
	$.ajax({
		url: '.', type:'POST', data: {'toggle_namespace_public_action':'True'},
		error: function(){
			document.location.href = '{% url peach.views.namespace namespace.name %}';
		},
		success: function(){
			document.location.href = '{% url peach.views.namespace namespace.name %}';
		}
	});
}

function toggleArchive(){
	$.ajax({
		url: '.', type:'POST', data: {'toggle_namespace_archive_action':'True'},
		error: function(){
			document.location.href = '{% url peach.views.namespace namespace.name %}';
		},
		success: function(){
			document.location.href = '{% url peach.views.namespace namespace.name %}';
		}
	});
}
</script>
{% endblock %}

{% block content %}
<div id="main-column">
	<h1><a href="{% url peach.views.index %}">Notes</a> &raquo; {{ namespace.display_name }}:</h1>
	{% with "true" as hide_title %}{% include "peach/wiki_render.frag" %}{% endwith %}
</div>
<div id="left-column">
	{% with namespace.owner as author %}{% include "peach/author_info.frag" %}{% endwith %}

	<button type="button" class="positive" id="toggle-public">
	{% if namespace.public %}
		Make private
	{% else %}
		Make public
	{% endif %}
	</button>

	<button type="button" class="positive" id="toggle-archive">
	{% if namespace.archive %}
		Unarchive
	{% else %}
		Archive
	{% endif %}
	</button>

	<h2>Pages:</h2>
	<ul>
	{% for page in namespace.pages.all %}
		{% if page.name != 'SplashPage' %}
		   <li><a title="{{ page.name }}" href="{{ page.get_absolute_url }}">{{ page.name }}</a></li>
		{% endif %}
	{% endfor %}
	{% if request.user == namespace.owner %}
		<li>
			<form action="." method="post" id="create-wiki-page-form">{% for field in create_wiki_page_form %}{{ field }}{% endfor %}
		</li>
	{% endif %}
	</ul>
</div>
{% endblock %}