{% extends "peach/base.html" %}
{% load wikitags %}

{% block sub-title %}Snapshot {{ page_log.created|date:"F j, g:i A"}} | {{ page_log.wiki_page.name }} | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li>
		<a href="{% url peach.views.index %}">Notes</a> <span class="divider">/</span>
	</li>
	<li><a href="{{page_log.wiki_page.namespace.get_absolute_url}}">{{ page_log.wiki_page.namespace.display_name }}</a> <span class="divider">/</span></li>
	<li><a href="{{page_log.wiki_page.get_absolute_url}}">{{ page_log.wiki_page.name }}</a> <span class="divider">/</span></li>
	<li><a href="{% url peach.views.wiki_history page_log.wiki_page.namespace.owner.username page_log.wiki_page.namespace.name page_log.wiki_page.name %}">history</a> <span class="divider">/</span></li>
	<li class="active">{{ page_log.created|date:"F j, g:i A"}}</li>
</ul>

{% if request.user.is_authenticated %}
	<div style="float: right; margin-top: 5px; ">
			[<a href="." onclick="document.getElementById('revert-form').submit(); return false;">revert to this version</a>]
			<form id="revert-form" action="{{ page_log.get_absolute_url }}" method="post"><input type="hidden" name="revert" value="true">{% csrf_token %}</form>
	</div>
{% endif %}

{{ page_log.content|wiki|safe }}

{% endblock %}
