{% extends "peach/base.html" %}
{% load imagetags %}

{% block sub-title %}Edit | {{ page.name }} | {% endblock %}

{% block sub-style %}
#id_content { width: 99%; height: 500px; }
#page-form { width: 100%; margin-bottom: 10px;}
#wiki-page-editor button { margin-left: 10px; float: right; }
.wiki-photo-item { margin-top: 10px; }
#cheat-sheet, #cheat-sheet h3, #cheat-sheet h4 { color: #666; }
#cheat-sheet h4 { margin-top: 1.5em; }
{% endblock %}

{% block sub-head %}
<script src="{{STATIC_URL}}peach/wiki_page_views.js"></script>
<script>
$(document).ready(function(){
    window.wikiPageEditView = new transmutable.WikiPageEditView({
		wikiPageId: {{ page.id }},
		namespace: '{{ page.namespace.name }}',
		name: '{{ page.name }}',
		username: '{{ request.user.username }}',
		el: $("#wiki-page-editor")
	});
});


function saveThenAddFile(){
	$("#page-form").attr('action', '.?next={% url peach.views.wiki_add page.namespace.owner.username page.namespace.name page.name %}');
	$("#page-form").submit();
}
</script>
{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url peach.views.index %}">Notes</a>
		</li>
		<li><a href="{{ page.namespace.get_absolute_url }}">{{ page.namespace.display_name }}</a></li>
		<li><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></li>
		<li class="active">edit</li>
	</ul>

<div class="row">
	<div id="wiki-page-editor" class="col-sm-12 col-md-10">
		
	</div>

	<div id="cheat-sheet" class="col-sm-12 col-md-2">
		<h3>Cheat Sheet:</h3>
		<p>Format your text like so:</p>

		<h4>Use # for headings</h4>
		# Biggest<br/>
		## Second Biggest<br/>
		### Third Biggest<br/>
		
		<h4>Use - for lists</h4>
		- Apples<br/>
		- Oranges<br/>
		- Aesthetics<br/>

		<h4>Create links</h4>
		[Example](http://exa.com)

		<p style="margin-top: 2em;">See the <a target="_new" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> page for more formatting options.</p>
	</div>
</div>

<div class="row">
	<div class="wiki-control-links">
		<!-- [<a onclick="saveThenAddFile(); return false;" href="{% url peach.views.wiki_add page.namespace.owner.username page.namespace.name page.name %}">add file or photo</a>]</div> -->

	{% if page.wikiphoto_set.all %}
	<h3>Photos:</h3>
	<p>To include a photo in the page, type a photo tag which starts with "Photo" and ends with the photo id, like so "Photo5".<br/>  You will find the photo tag above each photo listed below.</p>
	{% endif %}
	{% for photo in page.wikiphoto_set.all %}
		<div class="wiki-photo-item">
			Photo{{ photo.id }}<br/>
			<a href="{{ photo.get_absolute_url }}">
				<img alt="{{ photo.display_name }}" title="{{ photo.display_name }}" src="{{ photo.image.url|fit_image:"150x150" }}" /> 
			</a>
		</div>
	{% endfor %}

	{% if page.wikifile_set.all %}
	<h3>Files:</h3>
	{% endif %}
	{% for file in page.wikifile_set.all %}
		<div class="wiki-file-item">
			<a href="{{ file.file.url }}">{{ file.display_name }}</a> <span class="wiki-control-link">[<a href="{{ file.get_absolute_url }}">info</a>]</span>
		</div>
	{% endfor %}
</div>
{% endblock %}
