{% extends "peach/base.html" %}
{% load imagetags %}

{% block sub-title %}Edit | {{ page.name }} | {% endblock %}

{% block sub-style %}
#id_content { width: 99%; height: 500px; }
#page-form { width: 100%; margin-bottom: 10px;}
#wiki-page-editor button { margin-left: 10px; float: right; }
.wiki-photo-item { margin-top: 10px; }
{% endblock %}

{% block sub-head %}
<script src="{{STATIC_URL}}peach/wiki_page_views.js"></script>
<script>
$(document).ready(function(){
    window.wikiPageEditView = new transmutable.WikiPageEditView({
		wikiPageId: {{ page.id }},
		namespace: '{{ page.namespace.name }}',
		name: '{{ page.name }}',
		el: $("#wiki-page-editor")
	});
});


function saveThenAddFile(){
	$("#page-form").attr('action', '.?next={% url peach.views.wiki_add page.namespace.name page.name %}');
	$("#page-form").submit();
}
</script>
{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url peach.views.index %}">Notes</a> <span class="divider">/</span>
		</li>
		<li><a href="{% url peach.views.namespace page.namespace.name %}">{{ page.namespace.display_name }}</a> <span class="divider">/</span></li>
		<li><a href="{% url peach.views.wiki page.namespace.name page.name %}">{{ page.name }}</a> <span class="divider">/</span></li>
		<li class="active">edit</li>
	</ul>

<div class="row-fluid">

	<div id="wiki-page-editor" class="span10">
		
	</div>

	<div id="cheat-sheet" class="span2">
		<h3>Cheat Sheet:</h3>
		<h4>WikiLinks:</h4>
		CamelCase to link to a wiki page.
		
		<h4>Lists:</h4>
		- Apples<br/>
		- Oranges<br/>
		- Aesthetics<br/>
		<br/>
		or<br/>
		<br/>
		1. Apples<br/>
		2. Oranges<br/>
		3. Handcarts<br/>

		<h4>Headings:</h4>
		#Biggest<br/>
		##Second Biggest<br/>
		###Third Biggest<br/>
		
		<h4>Links:</h4>
		[text](address "title")
		
		<h4>Horizontal Rules:</h4>
		***
	</div>
</div>

<div class="row-fluid">
	<div class="wiki-control-links">
		<!-- [<a onclick="saveThenAddFile(); return false;" href="{% url peach.views.wiki_add page.namespace.name page.name %}">add file or photo</a>]</div> -->

	{% if page.wikiphoto_set.all %}
	<h3>Photos:</h3>
	<p>To include a photo in the page, type a photo tag which starts with "Photo" and ends with the photo id, like so "Photo5".<br/>  You will find the photo tag above each photo listed below.</p>
	{% endif %}
	{% for photo in page.wikiphoto_set.all %}
		<div class="wiki-photo-item">
			Photo{{ photo.id }}<br/>
			<a href="{{ photo.get_absolute_url }}">
				<img alt="{{ photo.display_name }}" title="{{ photo.display_name }}" src="{{ photo.image.url|fit_image:"150x150" }}" /> 
			</a>
		</div>
	{% endfor %}

	{% if page.wikifile_set.all %}
	<h3>Files:</h3>
	{% endif %}
	{% for file in page.wikifile_set.all %}
		<div class="wiki-file-item">
			<a href="{{ file.file.url }}">{{ file.display_name }}</a> <span class="wiki-control-link">[<a href="{{ file.get_absolute_url }}">info</a>]</span>
		</div>
	{% endfor %}
</div>
{% endblock %}
