body {
	padding-bottom: 40px;
}

footer {
  margin-top: 1em;
  border-top: solid 1px #EEE;
  text-align: right;
  color: #888;
  font-size: 0.8em;
}
footer a {
  margin-left: 2em;
  color: #888;
}

header.navbar {
  margin-bottom: 0;
}

.nav .badge-success {
  background-color: #603913;
}

.section-title { font-size: 1.4em; line-height: 1.4em; color: #c8241b; }
.section-sub-title { font-size: 1em; color: #999; margin-top: 0.1em; }

.sidebar-nav {
	padding: 9px 0;
}

.rendered-wrapper h1, .rendered-wrapper h2, .rendered-wrapper h3, .rendered-wrapper h4, .rendered-wrapper h5, .rendered-wrapper h6 { margin-top: 0; }

.rendered-wrapper h1 {
  font-size: 24px;
  line-height: 36px;
}
.rendered-wrapper h1 small {
  font-size: 18px;
}
.rendered-wrapper h2 {
  line-height: 27px;
  font-size: 18px;
}
.rendered-wrapper h2 small {
  font-size: 14px;
}
.rendered-wrapper h3, h4, h5, h6 {
  line-height: 18px;
}
.rendered-wrapper h3 {
  font-size: 14px;
}
.rendered-wrapper h3 small {
  font-size: 12px;
}
.rendered-wrapper h4 {
  font-size: 12px;
}
.rendered-wrapper h5, .rendered-wrapper h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

#intrusive-camera a {
  color: #c8241b;
}

#id_search_terms {
        width: 98%;
}
.search-form li { display: inline; }
