{% extends "peach/mobile/base.html" %}
{% block sub-title %}Plans | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}

{% block style %}
#namespace-list { clear: both; }
#namespace-list li { display: block; float: left; padding-right: 30px; padding-bottom: 30px;  }
{% endblock %}

{% block content %}
<ul id="namespace-list">
{% for namespace in request.user.namespaces.all %}
	{% if not namespace.archive %}
		<li><a href="{% url peach.mobile_views.namespace namespace.name %}">{{ namespace.display_name }}</a></li>
	{% endif %}
{% endfor %}
	<li>
		<form id="namespace-form" action="." method="post">{% for field in namespace_form %}{{ field }}{% endfor %}</form>
	</li>
</ul>
{% endblock %}

{% block footer %}{% endblock %}