{% extends "peach/mobile/base.html" %}
{% block sub-title %}Wiki | {% endblock %}

{% block sub-head %}
<script>
window.fetcher = null;
window.namespace = null;
window.wikiPage = null;
window.user = null;
window.wikiPageEditorView = null;

window.schema.once('populated', initModels);

function initModels(){
	$('#notes-nav').addClass('active');
	window.namespace = new window.schema.api.peach.Namespace({'id':{{page.namespace.id}}});
	window.wikiPage = new window.schema.api.peach.WikiPage({'id':{{page.id}}});
	window.user = new window.schema.api.auth.User({'id':{{page.namespace.owner.id}}});

	window.fetcher = new phlogiston.Fetcher(null, window.namespace, window.wikiPage, window.user);
	window.fetcher.once(phlogiston.events.fetchComplete, initPage);
	window.fetcher.fetch();
}

function initPage(){
	window.wikiPageEditorView = new peach.views.WikiPageEditorView({
		'isMobile':true,
		'model':window.wikiPage,
		'namespace':window.namespace,
		'user':window.user
	});
	$('#content .breadcrumb').after(window.wikiPageEditorView.el);
}
</script>
{% endblock %}

{% block sub-style %}
{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url peach.mobile_views.namespace page.namespace.name %}">{{ page.namespace.display_name }}</a> 
			<span class="divider">/</span>
		</li>
		<li>
			{{ page.name }}
		</li>
	</ul>
{% endblock %}