{% extends "peach/mobile/base.html" %}
{% block sub-title %}Wiki | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}

{% block sub-style %}
#content .rendered-wrapper { min-height: 100px; }
{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url peach.mobile_views.namespace page.namespace.name %}">{{ page.namespace.display_name }}</a> 
			<span class="divider">/</span>
		</li>
		<li>
			{{ page.name }}
		</li>
	</ul>

	{% with "true" as hide_title %}
		{% with "true" as is_mobile %}
			{% include "peach/wiki_render.frag" %}
		{% endwith %}
	{% endwith %}
{% endblock %}