
.person-info .person-photo { margin-right: 10px; float: left; }
.person-info a { text-decoration: none; }
.person-info a:hover { text-decoration: underline; }
.person-info th { width: 80px;}
.person-info-list .person-info { margin-bottom: 20px; }

.person-info-small .person-photo { margin-right: 10px; float: left; }
.person-info-small a { text-decoration: none; }
.person-info-small a:hover { text-decoration: underline; }
.person-info-small th { width: 80px;}
.person-info-list .person-info-small { margin-bottom: 20px; }

#registration-form input[type=text], #registration-form input[type=password] { width: 200px; }
#registration-form td { padding: 5px;}
#registration-form .errorlist { color: #922; float: right; }
#registration-form th {
	text-align: right; padding-right: 10px;
}
#registration-form input[type=checkbox] {
	margin: 0 0.5em 0 0;
}
#registration-form table { width: 100%; }
#registration-form input[type=text], #content form input[type=password] { width: 100%; }
#registration-form label[for=id_tos] { display: none; }
#id_tos { margin; 0 0.2em 0 0; }

#profile-form input[type=text], #profile-form textarea { width: 100%; }
#profile-form th, #password-change-form th { vertical-align: top; text-align: right; padding-right: 1em;}
#profile-form td { padding-bottom: 1.5em; }
#password-change-form input[type=submit] { float: right; } 
.invite-form { margin: 20px 0px; }
.invite-form th { vertical-align: top; }
.invite-form #id_email { width: 300px; }
.invite-form input[type=submit] { text-align: right; }