{% extends "person/base.html" %}

{% block sub-title %}Profile for {{ profile.user.get_full_name }} | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function(){
	if(document.location.hash){
		$('a[href=' + document.location.hash.split('?')[0] + ']').tab('show')
	} else {
		$('a[href=#edit-view]').tab('show')
	}
	setTimeout("hideMessage();", 5000);
	if($.urlVar("message")){
		$('#content').prepend('<h2 id="message">' + $.urlVar("message") + '</h2>');
	}
});

function hideMessage(){
	$("#message").hide();
}
</script>
{% endblock %}

{% block sub-style %}
{% endblock %}

{% block content%}

<div class="row-fluid">
	{% ifequal request.user.username profile.user.username %}
		<ul class="nav nav-tabs">
			<li><a href="#edit-view" data-toggle="tab">Edit Profile</a></li>
			<li><a href="#edit-photo" data-toggle="tab">Edit Photo</a></li>
			<li><a href="#change-password" data-toggle="tab">Change Password</a></li>
		</ul>
		<div id="profile-tabs" class="tab-content">
			<div id="edit-view" class="tab-pane">
			{% include "person/profile_form.frag" %}
			</div>
			<div id="edit-photo" class="tab-pane">
			{% include "person/photo_form.frag" %}
			</div>
			<div id="change-password" class="tab-pane">
			{% include "person/password_change.frag" %}
			</div>
		</div>
	{% else %}
		{% include "person/person_info_large.frag" %}
	{% endifequal %}
</div>
{% endblock %}
