{% extends "banana/base.html" %}
{% block sub-title %}Add Invites | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
}
</script>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<ul class="breadcrumb">
      <li>
         <a href="{% url apple.views.index %}">Staff tools</a> <span class="divider">/</span>
      </li>
      <li class="active">add invites</li>
</ul>

{% if page_message %}
   <div class="row-fluid">
      <div class="span12 alert alert-info">
         {{ page_message }}
      </div>
   </div>
{% endif %}


<form id="add-invites-form" action='.' method='post'>
   <table>
      {% for field in add_invites_form %}
         <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td>{{ field.label_tag }}</td>
            <td>
               {{ field }}
            </td>
            {% if field.errors %}
            <td>
               {{ field.errors }}
            </td>
            {% endif %}
         </tr>
      {% endfor %}
      <tr><td></td><td><input type="submit" value="Add invites" /></td></tr>
   </table>
</form>
{% endblock %}