{% extends "banana/base.html" %}
{% load imagetags %}
{% block sub-title %}Email All Active Accounts | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
}
</script>
{% endblock %}

{% block sub-style %}
#email-everyone-form { width: 500px; text-align: right; }
#email-everyone-form textarea, #email-everyone-form input[type="text"] { width: 99%; }
#email-everyone-form textarea { height: 40em; }
{% endblock %}

{% block content %}

<ul class="breadcrumb">
      <li>
         <a href="{% url apple.views.index %}">Staff tools</a> <span class="divider">/</span>
      </li>
      <li class="active">Email all active accounts</li>
</ul>

<h2>Use With Caution and Spell Check</h2>

{% if page_message %}<h2>{{ page_message }}</h2>{% endif %}

<form id="email-everyone-form" action='.' method='post'>
	{% for field in email_everyone_form %}
		{{ field }}
		{% if field.errors %}{{ field.errors }}{% endif %}
	{% endfor %}
	<input type="submit" value="Email All Active Users" />
</form>
{% endblock %}