{% extends "banana/base.html" %}
{% load imagetags %}
{% block sub-title %}Staff Tools | {% endblock %}
{% block sub-head %}
<script>
$(document).ready(function() {
}
</script>
{% endblock %}

{% block sub-style %}
.user-list {
	padding-left: 0;
	margin-left: 0;
}
.user-list li {
	margin-bottom: 0.5em;
	list-style-type: none;
	clear: both;
}
.user-list a { display: block; }

.date-item {
	font-weight: bold;
}
.person-photo { 
	float: left; 
	clear: both; 
	margin-right: 0.5em;
	margin-bottom: 1em;
}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<h3>New users: {{ new_users.count }}</h3>
			<ul class="user-list">
				{% with "True" as show_user %}
					{% for user in new_users %}
						{% ifchanged user.date_joined.date %}
							<li class='date-item'>{{ user.date_joined.date }}</li>
						{% endifchanged %}
						<li>
							{% include "banana/user_photo_small.frag" %}
							<a href="{{user.get_absolute_url}}">{{ user.get_full_name }}</a>
							{{user.email}}
						</li>
					{% endfor %}
				{% endwith %}
			</ul>
		</div>
		<div class="col-sm-12 col-md-4">
			<h3>User count: {{ user_count }}</h3>
		</div>
	</div>
{% endblock %}