{% extends "banana/base.html" %}
{% load imagetags %}
{% block sub-title %}Staff Tools | {% endblock %}
{% block sub-head %}
<script>
$(document).ready(function() {
}
</script>
{% endblock %}

{% block style %}
#content li { 	padding-left: 0em; margin-left: 1.6em;}
#content ul > li { list-style-type: disc; }
#content ol > li { list-style-type: decimal; }
{% endblock %}

{% block content %}
<h1>Staff tools:</h1>
<ul>
	<li><a href="{% url apple.views.create_account %}">Create an Account</a></li>
	<li><a href="{% url apple.views.email_everyone %}">Email All Active Accounts</a></li>
	<li><a href="{% url apple.views.send_test %}">Send Test Messages</a></li>
	<li><a href="{% url admin:index %}">Admin</a></li>
</ul>
{% endblock %}