/* Banana CSS */

.completed-list {
	padding: 0; margin: 0;
	list-style-type: none;
}
.completed-list li {

}

.completed-item-li {
	margin-bottom: 10px;
}
.completed-item-li a { text-decoration: none; }
.completed-item-li img { float: left; margin-right: 8px; }
.completed-item-li:hover a { text-decoration: underline; }
.completed-item-meta { width: 100%; text-align: right; color: #888; }
.promoted-completed-item-li { border: dashed 1px #ddd; padding: 0.5em 0; }

.completed-item-meta-button {
	border: solid 1px #999;
	background-color: #FFF;
	display: inline;
	padding: 0 2px 0 2px;
	text-decoration: none;
}
.completed-item-li:hover .completed-item-meta-button {
	text-decoration: none;
}

#completed-form textarea {
	height: 5em;
	width: 95%;
}
button[name="completed-form-button"] { float: right; z-index: 1; }
#completed-form { min-height: 140px;}

#promoted-ui { margin-top: 0.5em; }
#promoted-extended-ui #id_link { width: 95%; margin-bottom: 1em; }
#promoted-extended-ui { display: none; }