/* Banana CSS */

footer {
	border-top: solid 1px #EEE;
}

.section-title { font-size: 1.5em; color: #603913; }



/*
	=========================================
	Update Views
	=========================================
*/

.update-list {
	padding: 0; margin: 0;
	list-style-type: none;
}

.update-view { 
	margin: 0.5em 0 1em 0; 
	padding: 0.5em 0;
	border-bottom: solid 1px #EEEEEE; 
}
.update-view .rendered { min-height: 2em; }
.update-view.promoted { 
	border: dashed 1px #ddd;
	padding: 0.5em;
}
.update-view .promoted-link {
	float: left;
}
.update-view img { float: left; margin-right: 8px; }
.update-view .promoted-link { float: left; }
.update-meta { text-align: right; color: #888; }
.update-timestamp, .completed-item-rock { font-size: 0.8em; }

.completed-item-rock { text-align: right; }

/*
	=========================================
	Update Editors
	=========================================
*/

.update-edit-view {
	min-height: 11em;
}
.update-edit-view textarea, .edit-view input[type=text] {
	width: 95%;
}
.update-edit-view input[type=checkbox] {
	margin: 0 0.25em 0 0; padding: 0;
}
.update-edit-view textarea { height: 8em; }
.update-edit-view label {
	display: inline;
}

.update-edit-view input[type=text] { margin-top: 1em; }
button[name="submit-form-button"] { float: right; z-index: 1; }
