{% extends "base/base.html" %}

{% block extra-links %}
	<link rel="stylesheet" href="{{STATIC_URL}}banana/banana.css" />
	<script src="{{STATIC_URL}}banana/banana.js"></script>
{% endblock %}

{% block app-head %}
<script>
$(document).ready(function(){
	$('#id_promoted').click(function(){
		if($(this).attr('checked') == 'checked'){
			$('#promoted-extended-ui').show();
		} else {
			$('#promoted-extended-ui').hide();
		}
	});
});
function rockCompletedItem(itemID, rock_count, element){
	try {
		$.post(
			'{% url banana.views.completed_item_rock %}',
			'completed_item_id=' + itemID,
			function(data) { 
				$(element).html('Rocked! (' + (rock_count + 1) + ')');
			},
			'json'
		);
		return false;
	} catch(er) {
		console.log('error', er);
		return false;
	}
}
</script>
{% endblock %}
