{% extends "base/base.html" %}

{% block extra-links %}
	<link rel="stylesheet" href="{{STATIC_URL}}banana/banana.css?v=5" />
<script>
$(document).ready(function(){
	$('#id_promoted').click(function(){
		if(this.value == 'on'){
			$('#promoted-extended-ui').css('visibility', 'visible');
			$('#promoted-extended-ui').css('position', 'relative');
		} else {
			$('#promoted-extended-ui').css('visibility', 'hidden');
			$('#promoted-extended-ui').css('position', 'absolute');
		}
	});
});
function rockCompletedItem(itemID, rock_count, element){
	try {
		$.post(
			'{% url banana.views.rock_completed_item %}',
			'completed_item_id=' + itemID,
			function(data) { 
				$(element).html('Rocked! (' + (rock_count + 1) + ')');
			},
			'json'
		);
		return false;
	} catch(er) {
		console.log('error', er);
		return false;
	}
}
function submitCompletedItem(form, completedList){
	$.post(
		'{% url banana.views.completed_edit %}',
		form.serialize(),
		function(data) {
			if(completedList){
			    var cls = "completed-item-li rounded-block rendered-wrapper";
                if(data.promoted){
                    cls += " promoted-completed-item-li";
                }
			    var li = $('<li/>', {'class':cls});
			    li.append(data.rendered);
			    var meta_div = $('<div/>', {'class':'completed-item-meta'});
			    if(data.link != null && data.link != ''){
			        meta_div.html('<a class="completed-item-meta-button" href="' + data.link + '">promoted</a>');
			    } else {
			        meta_div.html('just now');
		        }
		        li.append(meta_div);
				completedList.prepend(li);
				if(data.promoted){
                    $('#promoted-ui').css('visibility', 'hidden');
                    $('#promoted-extended-ui').css('visibility', 'hidden');
                    $('#promoted-extended-ui').css('position', 'absolute');
				}
			}
		},
		'json'
	);
}
function submitWorkdoc(form, workdocRender){
	$.post(
		'{% url banana.views.workdoc_edit %}',
		form.serialize(),
		function(data) {
			if(workdocRender){
				workdocRender.html(data.rendered);
			}
		},
		'json'
	);
}
</script>
{% endblock %}
