{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title%}Completed Item {{ completed_item.id }} | {% endblock %}
{% block sub-head %}
<script>
$(document).ready(function(){
	$('button[name="delete-button"]').click(function(event){
		$.ajax({
			'url': "{% url banana.views.completed_item completed_item.id %}",
			'type':'delete',
			'success':function(){
				document.location.href = "{% url banana.views.user request.user.username %}";
			},
			'error': function(){
				alert('I could not delete.');
			}
		});
	});
});

</script>
{% endblock %}

{% block sub-style %}
.update-timestamp a { color: #888; }
a[href="#delete"] { float: right; color: grey; }
{% endblock %}

{% block content %}
<div class="row">
	<div id="user-info" class="span2 offset3">
		{% if completed_item.user.get_profile.photo %}
			<a href="{{ completed_item.user.get_absolute_url }}"><img class="person-photo" src="{{ completed_item.user.get_profile.photo.image.url|thumbnail:"150w" }}" width="150" title="{{ completed_item.user.get_full_name}}" alt="{{ completed_item.user.get_full_name}}" /></a>
		{% else %}
			<a href="{{ completed_item.user.get_absolute_url }}"><img class="person-photo" src="{{STATIC_URL}}person/BlankIcon150x150.jpg" width="150" height="150" /></a>
		{% endif %}
		<h4>
			<a href="{{ completed_item.user.get_absolute_url }}">{{ completed_item.user.get_full_name }}</a>
		</h4>
	</div>

	<div class="span4">
		<h3 class='section-title'>What I did:</h3>
		{% completed_item_widget %}
		{% if request.user == completed_item.user %}
			<a href="#delete" role="button" data-toggle="modal"><i class="icon-trash" alt="delete"></i></a>
			<div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="deleteLabel">Are you sure?</h3>
				</div>
				<div class="modal-body">
					<p>This will permanently delete this completed item.</p>
				</div>
					<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button name="delete-button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}