{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title%}Completed Item {{ completed_item.id }} | {% endblock %}
{% block sub-head %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}

{% block sub-style %}
.update-timestamp a { color: #888; }
{% endblock %}

{% block content %}
<div class="row">
	<div id="user-info" class="span2 offset3">
		{% if completed_item.user.get_profile.photo %}
			<a href="{{ completed_item.user.get_absolute_url }}"><img class="person-photo" src="{{ completed_item.user.get_profile.photo.image.url|thumbnail:"150w" }}" width="150" title="{{ completed_item.user.get_full_name}}" alt="{{ completed_item.user.get_full_name}}" /></a>
		{% else %}
			<a href="{{ completed_item.user.get_absolute_url }}"><img class="person-photo" src="{{STATIC_URL}}person/BlankIcon150x150.jpg" width="150" height="150" /></a>
		{% endif %}
		<h4>
			<a href="{{ completed_item.user.get_absolute_url }}">{{ completed_item.user.get_full_name }}</a>
		</h4>
	</div>

	<div class="span4">
		<h3 class='section-title'>What I did:</h3>
		{% completed_item_widget %}
	</div>
</div>
{% endblock %}