{% extends "banana/base.html" %}
{% load imagetags %}

{% block style %}
#id_markup{
	width: 100%;
	height: 40em;
}
button[name="work-doc-form-button"] { margin-right: 40px; }
{% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
	$('button[name="work-doc-form-button"]').click(function(){ $('#work-doc-form').submit(); });
	$('button[name="work-doc-reset-button"]').click(function(){ document.location.href = "{% url banana.views.user request.user.username %}"; });
	$('#id_markup').focus();
});
</script>
{% endblock %}

{% block content %}
<h1>What's happening?</h1>
<form id="work-doc-form" action="." method="post">
	{% for field in workdoc_form %}{{ field }}{% endfor %}
</form>
<button name="work-doc-form-button" type="button" class="positive">save</button>
<button name="work-doc-reset-button" type="button" class="negative">cancel</button>
{% endblock %}
