{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-head %}
	<script>
	//TODO let mobile users opt into the main site

	$(document).ready(function() {
		{% if request.user.is_authenticated %}
			if($.isMobile()){
				$('body').prepend('<div id="mobile-ui-header"><a href="{% url banana.mobile_views.index %}">Go to the mobile version &raquo;</a>');
			}
		{% endif %}
		$('button[name="add-search-button"]').click(function(){ $('#search-form').show();  $('#id_terms').focus(); });
	});
	</script>
{% endblock %}

{% block sub-style %}
	#mobile-ui-header { font-size: 2em; height: 2em; line-height: 2em; }

	#left-column { margin-right: 2em; width: 600px; }
	#right-column {
		float: right;
		width: 370px;
	}

	#left-column p { margin-top: 10px; }

	#completed-controls { visibility: hidden; float: right; padding: 0px; }
{% endblock %}

{% block content %}
	
	  <div class="row-fluid">
		<div class="span9">
		  <div class="hero-unit">
			<h1>Work in public!</h1>
			<p>Emerge from behind your intellectual firewall and share your work.</p>
			<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
		  </div>
		  <div class="row-fluid">
			<div class="span4">
			  <h2>Amy Leigh Morgan</h2>
			  <p>I started a round-robin fairy tale exchange via email to pass the time at our dull day jobs. This workshop is one of the more delicious fruits of that happy experiment.</p>
			  <p><a class="btn" href="#">Track Amy's work &raquo;</a></p>
			</div><!--/span-->
			<div class="span4">
			  <h2>Trevor F. Smith</h2>
			  <p>I'm a technical leader, web engineer and communicator extraordinaire.  I lead, learn, and convert pies in the sky into birds in the hand.</p>
			  <p><a class="btn" href="#">Track Trevor's work &raquo;</a></p>
			</div><!--/span-->
			<div class="span4">
			  <h2>Alexander Bell</h2>
			  <p>I was working on my telephonic device when I dumped a beaker of acid in my lap.  By calling for my co-worker I accidentally made the first phone call.</p>
			  <p><a class="btn" href="#">Track Alex's work &raquo;</a></p>
			</div><!--/span-->
		  </div><!--/row-->
		</div><!--/span-->
		<div class="span3">
			<h2>Recent to&ndash;dones</h2>
			<ul class="completed-list">
			{% with "True" as show_completed_item_user %}
				{% for completed_item in completed_items|slice:":10" %}
					{% completed_item_widget %}
				{% endfor %}
			{% endwith %}
			</ul>
		</div>
	  </div><!--/row-->
{% endblock %}