{% extends "banana/base.html" %}
{% load imagetags %}

{% block sub-head %}

<script>
$(document).ready(function() {
	$('button[name="add-search-button"]').click(function(){ $('#search-form').show();  $('#id_terms').focus(); });
}
</script>
{% endblock %}

{% block style %}
#user-list {
	width: 600px; 
}
#user-list > li {
	padding: 1em 1em 1em 1em;
	border-radius: 2em 0 2em 0;
	border: solid 1px #EEE;
	margin-bottom: 20px; 
}

#user-list > li img { float: left; }

#user-list > li a.time-link { display: block; text-align: right; }

.user-info {
	margin-left: 60px;
}

#about-panel {
	float: right;
	width: 300px;
	border: solid 1px #EEE;
	padding: 10px;
}

#user-list > li { background-color: #FFF; cursor: pointer; }
#user-list > li:hover { background-color: #EEE; }

#user-list > li a { text-decoration: none; }
#user-list > li a:hover { text-decoration: underline; }

{% endblock %}

{% block content %}
<div id="about-panel">
	<h1>Work in public:</h1>
</div>
<ul id="user-list">
{% for user in users %}
	{% if user.work_doc.rendered %}
	<li onclick="document.location.href='{{ user.get_absolute_url }}'; return false;">
		<a href="{{ user.get_absolute_url }}">
			{% if user.get_profile.photo %}
			<img class="person-photo" src="{{ user.get_profile.photo.image.url|thumbnail:"50w" }}" width="50" title="{{ user.get_full_name}}" alt="{{ user.get_full_name}}" />
			{% else %}
			<img class="person-photo" src="{{ MEDIA_URL }}person/BlankIcon150x150.jpg" width="50" height="50" />		
			{% endif %}
		</a>
		<div class="user-info">
			<h3><a href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a></h3>
			<div class="rendered-wrapper">{{ user.work_doc.rendered|safe|truncatewords_html:20 }}</div>
		</div>
		<a href="{{ user.get_absolute_url }}" class="time-link" >{{ user.work_doc.modified|timesince }} ago</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endblock %}