{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-head %}
	<script>
	$(document).ready(function() {
		{% if request.user.is_authenticated %}
			if($.isMobile()){
				$('body').prepend('<div id="mobile-ui-header"><a href="{% url banana.mobile_views.index %}">Go to the mobile version &raquo;</a>');
			}
		{% endif %}
		$('button[name="add-search-button"]').click(function(){ $('#search-form').show();  $('#id_terms').focus(); });
	});
	</script>
{% endblock %}

{% block sub-style %}
#mobile-ui-header { font-size: 2em; height: 2em; line-height: 2em; }
#registration-form span.helptext { display: none; }
#registration-form input[type=text], #registration-form input[type=password] { width: 195px; }
.hero-unit {
	padding: 20px;
	height: 355px;
	background-image: url('{{STATIC_URL}}banana/logo.svg');
	background-repeat: no-repeat;
	background-position: 98% 50%;
	text-shadow: 2px 1px 0px whiteSmoke;
}
.hero-unit h1 {
	margin-top: 20%;
}
#recent-todones-title {
	margin: 0 0 0.5em 0;
	line-height: 1em;
}
.testimonial { min-height: 7em; }
{% endblock %}

{% block content %}
	
	  <div class="row-fluid">
		<div class="span9">
		  <div class="hero-unit">
			<h1>Work in public!</h1>
			<p>Emerge from behind your intellectual firewall and share your work.</p>
			<!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
		  </div>
		  <div id="users-row" class="row-fluid">
		  	{% for user in promoted_users|slice:":2" %}
				<div class="span4">
					<div class='testimonial'>
						<h2>{{ user.get_full_name }}</h2>
						<p>{{ user.get_profile.bio|striptags|truncatewords:"30" }}</p>
					</div>
					<div class='testimonial-buttons'>
						<a href="{{ user.get_absolute_url }}" class="btn" href="#">Track {{ user.first_name }}'s work &raquo;</a>
					</div>
				</div><!--/span-->
			{% endfor %}
			{% if open_registration %}
				<div class="span4">
					<div class='testimonial'>
						<h2>You?</h2>
						<p>If your job is your stage and you'd like to share your performance, give us a whirl.</p>
					</div>
					<div class='testimonial-buttons'>
						<a href="{% url person.views.register %}" class="btn">Sign up &raquo;</a>
					</div>
				</div><!--/span-->
			{% endif %}
		  </div><!--/row-->
		</div><!--/span-->
		<div class="span3">
			<h3 id="recent-todones-title">Recent to&ndash;dones</h3>
			<ul class="update-list">
			{% with "True" as show_completed_item_user %}
			{% with "True" as hide_meta %}
				{% for completed_item in completed_items|slice:":10" %}
					{% completed_item_widget %}
				{% endfor %}
			{% endwith %}
			{% endwith %}
			</ul>
		</div>
	  </div><!--/row-->
{% endblock %}
{% block footer %}{% endblock %}