{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block sub-style %}
	#work-doc, .completed-list { min-height: 20em; }
	#work-doc { width: 99%; }
	#formatting-help-link {
		position: absolute;
		top: -1.6em;
		right: -0px;
	}
	.formatting-help {
		width: 100%;
	}

	#notes-list { min-height: 3em; }

	#user-info h1, #top-right-column h2 { margin-top: 0; }
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span2">
		{% if user.get_profile.photo %}
		<img class="person-photo" src="{{ user.get_profile.photo.image.url|thumbnail:"150w" }}" width="150" title="{{ user.get_full_name}}" alt="{{ user.get_full_name}}" />
		{% else %}
		<img class="person-photo" src="{{STATIC_URL}}person/BlankIcon150x150.jpg" width="150" height="150" />		
		{% endif %}
	</div>
	<div class="span10"><h1>{{ user.get_full_name }}</h1></div>
</div>
<div class="row-fluid">
	<div class="span2" id="completed-column">
		<h3 class='section-title'>What I did:</h3>
		{% if not user.completed_items.all %}
			<p class='alert alert-info'>Awaiting to-dones.</p>
		{% endif %}
		<div class="completed-list update-list">
		{% for completed_item in user.completed_items.all|slice:":10" %}
			{% completed_item_widget %}
		{% endfor %}
		</div>
	</div>
	<div class="span3 offset1" id="work-doc-column">
		<h3 class="user-prompt-heading section-title">
			What I'm doing:
		</h3>
		<div id="work-doc" class="rendered-wrapper rounded-block">
			{% if not user.work_doc.rendered %}
				<p class='alert alert-info'>Awaiting to-dos.</p>
			{% endif %}
			<div id="work-doc-render">
				{{ user.work_doc.rendered|safe }}
			</div>
		</div>
	</div>
	<div class="span2 offset1" id="gratitudes-column">
		<h3 class='section-title'>I'm grateful for:</h3>
			{% if not user.gratitudes.all %}
				<p class='alert alert-info'>Awaiting gratitudes.</p>
			{% endif %}
			<div class="gratitudes-list update-list">
			{% for gratitude in user.gratitudes.all|slice:":10" %}
				{% include "banana/gratitude.frag" %}
			{% endfor %}
			</div>
	</div>	
	<div class="span2 offset1">
		<h3 class='section-title'>My notes:</h3>
		<div id="notes-list" class="rounded-block">
			{% if not user.namespaces.public_not_archived %}
				<p class='alert alert-info'>Awaiting notes.</p>
			{% endif %}
			<ul>
				{% for namespace in user.namespaces.public_not_archived %}
					<li><a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}