{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block sub-style %}
	.work-doc-edit-view, .updates-list { min-height: 20em; }
	.alert-info { min-height: 5em; }
	#edit-work-doc-link { font-size: 0.7em; font-weight: normal; float: right; }
{% endblock %}

{% block sub-head %}
<script>

var newUserTourView = null;
var newUser = {% if not user.completed_items.all and not user.work_doc.rendered and not user.gratitudes.all %}true{% else %}false{% endif %};

var workDocEditView = null;

var hasUnusedTada = '{{user.has_unused_tada}}' == 'True';
var completedItemEditView = null;
var completedItemsView = null;

var gratitudeEditView = null;
var gratitudesView = null;

window.schema.on('populated', _.once(initPage));

function initPage(){
	$('#home-nav').addClass('active');

	window.workDoc = new window.schema.api.banana.WorkDoc({'id':'{{user.work_doc.id}}'});
	window.completedItems = new window.schema.api.banana.CompletedItemCollection();
	window.gratitudes = new window.schema.api.banana.GratitudeCollection();

	if(newUser){
		newUserTourView = new banana.views.NewUserTourView({'siteName':'{{ site.name }}'});
		$('#content').prepend(newUserTourView.el);
	}

	workDocEditView = new banana.views.WorkDocEditView({ 'model':workDoc });
	workDoc.fetch();
	$('#edit-work-doc-link').click(function(){
		workDocEditView.edit();
		$(this).hide();
		return false;
	});
	workDoc.on('edit-completed', function(){
		$('#edit-work-doc-link').show()
		if(newUser){ newUserTourView.showStepTwo(); }
	})
	$('#work-doc-column .section-title').after(workDocEditView.el);

	completedItemEditView = new banana.views.CompletedItemEditView({
		'hasTada':hasUnusedTada,
		'successCallback':function(newModel){
			hasUnusedTada = false;
			completedItems.fetch();
			if(newUser){ newUserTourView.showStepThree(); }
		}
	});
	$('#completed-column').append(completedItemEditView.el);
	completedItemsView = new banana.views.CompletedItemsView({
		'collection':completedItems
	});
	$('#completed-column').append(completedItemsView.el);
	completedItemsView.collection.fetch();

	gratitudeEditView = new banana.views.GratitudeEditView({
		'successCallback':function(newGratitude){
			gratitudes.fetch();
			if(newUser){ newUserTourView.showStepFour(); }
		}
	});
	$('#gratitudes-column').append(gratitudeEditView.el);

	gratitudesView = new banana.views.GratitudesView({
		'collection':gratitudes
	});
	$('#gratitudes-column').append(gratitudesView.el);
	gratitudesView.collection.fetch();

	$('#formatting-help-link').click(function(){
		if($('.formatting-help').length > 0){
			$('.formatting-help').remove();
			return false;
		} 
		var formattingHelpView = new transmutable.views.FormattingHelpView();
		$('.completed-form-heading').after(formattingHelpView.render().el);
		return false;
	});
}
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span4" id="work-doc-column">
		<h3 class="user-prompt-heading section-title">
				What are you going to do?
				<span id="work-doc-controls">
					<a id="edit-work-doc-link"><i class="icon-edit" alt="edit"></i> edit</a>
				</span>
		</h3>
	</div>
	<div class="span4" id="completed-column">
		<h3 class="completed-form-heading user-prompt-heading section-title">What did you do?</h3>
		<!-- CompletedItemEditView is inserted here -->
	</div>
	<div class="span4" id="gratitudes-column">
		<h3 id="gratitudes-title" class='section-title'>What are you grateful for?</h3>
		<!-- GratitudeEditView is inserted here -->
		<!-- GratitudesView is inserted here -->
	</div>
</div>

{% endblock %}