{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block sub-style %}
	#work-doc, .completed-list { min-height: 400px; }

	#promoted-ui { margin: 0; }
	#promoted-ui input[type=checkbox] { margin: 0; }
	#promoted-extended-ui input[type=text] { margin-top: 1em; }

	#work-doc { width: 99%; }
	#work-doc-controls { float: right; padding: 0px; }
	#work-doc-form { margin: 0; }
	#work-doc-form textarea { width: 97%; height: 30em; }
	#work-doc-editor { position: relative; }
	#formatting-help-link {
		float: right;
	}

	#notes-title a { color: #444; }
	#notes-title a:hover { color: rgb(0, 136, 204); }
	#create-namespace-form input[type=text] { width: 60%; margin-bottom: 0; }
	#notes-list { min-height: 3em; }

	.alert-info { min-height: 5em; }
{% endblock %}

{% block sub-head %}
<script>
var oldWorkDoc = null;

$(document).ready(function() {
	$('#home-nav').addClass('active');

	$('#work-doc-editor').hide();

	$('#formatting-help-link').click(function(){
		if($('.formatting-help').length > 0) return false;
		var formattingHelpView = new transmutable.views.FormattingHelpView();
		$('.completed-form-heading').after(formattingHelpView.render().el);
		return false;
	});

	$('button[name="work-doc-form-button"]').click(function(){
		$('#work-doc-editor').hide();
		$('#work-doc-render').html('Submitting...');
		$('#work-doc').show();
		$('#work-doc-controls').show();
		$('#work-doc-welcome').hide();
		submitWorkdoc($('#work-doc-form'), $('#work-doc-render'));
	});
	$('button[name="work-doc-reset-button"]').click(function(){
		$('#work-doc-editor').hide();
		$('#work-doc').show();
		$('#work-doc-controls').show();
		$('#work-doc-form textarea').val(oldWorkDoc);
	});
	$('button[name="edit-work-doc-button"]').click(function(){
		oldWorkDoc = $('#work-doc-form textarea').val();
		$('#work-doc').hide();
		$('#work-doc-controls').hide();
		$('#work-doc-editor').show();
	})

	$('button[name="completed-form-button"]').click(function(){ $('#completed-form').submit(); });
	$('#completed-form').submit(function(){
		submitCompletedItem($('#completed-form'), $('.completed-list'));
		$('#completed-form textarea').val('');
		$('#promoted-extended-ui').hide();
		$('#id_promoted').attr('checked', null);
		$('#id_link').val('');
		$('#completed-welcome').hide();
		return false;
	});

	{% if user.work_doc.rendered == ' ' or not user.work_doc.rendered %}
		$('button[name="edit-work-doc-button"]').click();
	{% endif %}

	$('#id_markup').focus();
});
</script>
{% endblock %}

{% block content %}

{% if not user.completed_items.all and not user.work_doc.rendered and not user.namespaces.all %}
<div class="row-fluid" id="welcome-row">
	<div class="span12 alert alert-info">
		<h2>Welcome to {{ site.name}}, Smarty Pants!</h2>
	</div>
</div>

{% endif %}

<div class="row-fluid">
	<div class="span3">
		<h3 class="completed-form-heading user-prompt-heading">What did you do?</h3>
		{% if not user.completed_items.all %}
			<div id="completed-welcome" class="alert alert-info">
				<p><strong>Celebrate the tasks you complete</strong> and occasionally promote your work.</p>
			</div>
		{% endif %}
		{% include "banana/completed_form.frag" %}
		<ul class="completed-list">
		{% for completed_item in user.completed_items.all|slice:":10" %}
			{% completed_item_widget %}
		{% endfor %}
		</ul>
	</div>
	<div class="span1"></div>
	<div class="span4">
		<h3 class="user-prompt-heading">
				What are you doing?
				<div id="work-doc-controls">
					<button name="edit-work-doc-button" class="positive">edit</button>
				</div>
		</h3>
		{% if not user.work_doc.rendered %}
			<div id="work-doc-welcome" class="alert alert-info">
				<p><strong>Offload your upcoming <nobr>to-do's</nobr></strong> and relevent info into this handy editor.</p>
			</div>
		{% endif %}
		<div id="work-doc-editor">
			<form id="work-doc-form" action="." method="post">
				{% for field in workdoc_form %}{{ field }}{% endfor %}
			</form>
			<a id='formatting-help-link' href=".">formatting help</a>
			<button accesskey="s" name="work-doc-form-button" type="button" class="positive">save</button>
			<button name="work-doc-reset-button" type="button" class="negative">cancel</button>
		</div>
		<div id="work-doc" class="rendered-wrapper rounded-block editable-section">
			<div id="work-doc-render">
				{{ user.work_doc.rendered|safe }}
			</div>
		</div>
	</div>
	<div class="span1"></div>
	<div class="span3">
		<h3 id="notes-title">
			<a href="{% url peach.views.index %}">Your notes:</a>
		</h3>
		{% if not user.namespaces.all %}
			<div id="notes-welcome" class="alert alert-info">
				<p><strong>Compile and share your ideas</strong> in these multi-page documents.</p>
			</div>
		{% endif %}
		<form action="{% url peach.views.index %}" method="post" id="create-namespace-form">
			{% for field in namespace_form %}{{ field }}{% endfor %}
			<button type='submit'>create note</button>
		</form>
		<div id="notes-list" class="rounded-block editable-section">
			<ul>
				{% for namespace in user.namespaces.all %}
					{% if not namespace.archive %}
						<li><a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}