{% extends "banana/base.html" %}
{% load imagetags %}
{% load banana %}
{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block sub-style %}
	#work-doc, .completed-list { min-height: 400px; }

	#work-doc { width: 99%; }
	#work-doc-controls { float: right; padding: 0px; }
	#work-doc-form { margin: 0; }
	#work-doc-form textarea { width: 97%; height: 30em; }
	#work-doc-editor { position: relative; }
	#formatting-help-link {
		float: right;
	}

	.alert-info { min-height: 5em; }

	#content h3 { font-size: 1.5em; color: #603913; }
{% endblock %}

{% block sub-head %}
<script>
var hasUnusedTada = '{{user.has_unused_tada}}' == 'True';
var completedItemEditView = null;
var completedItems = new banana.models.CompletedItemCollection();
var completedItemsView = null;

var gratitudeEditView = null;
var gratitudes = new banana.models.GratitudeCollection();
var gratitudesView = null;

var oldWorkDoc = null;


$(document).ready(function() {
	$('#home-nav').addClass('active');

	completedItemEditView = new banana.views.CompletedItemEditView({
		'hasTada':hasUnusedTada,
		'successCallback':function(newModel){
			hasUnusedTada = false;
			$('#completed-welcome').hide();
		}
	});
	$('#completed-column').append(completedItemEditView.el);
	completedItemsView = new banana.views.CompletedItemsView({
		'collection':completedItems
	});
	$('#completed-column').append(completedItemsView.el);
	completedItemsView.collection.fetch();

	gratitudeEditView = new banana.views.GratitudeEditView({
		'successCallback':function(newGratitude){
			$('#gratitude-welcome').hide();
			gratitudes.fetch();
		}
	});
	$('#gratitudes-column').append(gratitudeEditView.el);

	gratitudesView = new banana.views.GratitudesView({
		'collection':gratitudes
	});
	$('#gratitudes-column').append(gratitudesView.el);
	gratitudesView.collection.fetch();

	$('#work-doc-editor').hide();

	$('#formatting-help-link').click(function(){
		if($('.formatting-help').length > 0) return false;
		var formattingHelpView = new transmutable.views.FormattingHelpView();
		$('.completed-form-heading').after(formattingHelpView.render().el);
		return false;
	});

	$('button[name="work-doc-form-button"]').click(function(){
		$('#work-doc-editor').hide();
		$('#work-doc-render').html('Submitting...');
		$('#work-doc').show();
		$('#work-doc-controls').show();
		$('#work-doc-welcome').hide();
		submitWorkdoc($('#work-doc-form'), $('#work-doc-render'));
	});
	$('button[name="work-doc-reset-button"]').click(function(){
		$('#work-doc-editor').hide();
		$('#work-doc').show();
		$('#work-doc-controls').show();
		$('#work-doc-form textarea').val(oldWorkDoc);
	});
	$('button[name="edit-work-doc-button"]').click(function(){
		oldWorkDoc = $('#work-doc-form textarea').val();
		$('#work-doc').hide();
		$('#work-doc-controls').hide();
		$('#work-doc-editor').show();
	})

	$('#completed-form').submit(function(){
		submitCompletedItem($('#completed-form'), $('.completed-list'));
		$('#completed-form textarea').val('');
		$('#promoted-extended-ui').hide();
		$('#id_promoted').attr('checked', null);
		$('#id_link').val('');
		$('#completed-welcome').hide();
		return false;
	});

	{% if user.work_doc.rendered == ' ' or not user.work_doc.rendered %}
		$('button[name="edit-work-doc-button"]').click();
	{% endif %}

	$('#id_markup').focus();
});
</script>
{% endblock %}

{% block content %}

{% if not user.completed_items.all and not user.work_doc.rendered and not user.namespaces.all %}
<div class="row-fluid" id="welcome-row">
	<div class="span12 alert alert-info">
		<h2>Welcome to {{ site.name}}, Smarty Pants!</h2>
	</div>
</div>

{% endif %}

<div class="row-fluid">
	<div class="span3" id="completed-column">
		<h3 class="completed-form-heading user-prompt-heading">What did you do?</h3>
		{% if not user.completed_items.all %}
			<div id="completed-welcome" class="alert alert-info">
				<p><strong>Celebrate the tasks you complete</strong> and occasionally promote your work.</p>
			</div>
		{% endif %}
		<!-- CompletedItemEditView is inserted here -->
	</div>
	<div class="span1"></div>
	<div class="span4">
		<h3 class="user-prompt-heading">
				What are you doing?
				<div id="work-doc-controls">
					<button name="edit-work-doc-button" class="positive">edit</button>
				</div>
		</h3>
		{% if not user.work_doc.rendered %}
			<div id="work-doc-welcome" class="alert alert-info">
				<p><strong>Offload your upcoming <nobr>to-do's</nobr></strong> and relevent info into this handy editor.</p>
			</div>
		{% endif %}
		<div id="work-doc-editor">
			<form id="work-doc-form" action="." method="post">
				{% for field in workdoc_form %}{{ field }}{% endfor %}
			</form>
			<a id='formatting-help-link' href=".">formatting help</a>
			<button accesskey="s" name="work-doc-form-button" type="button" class="positive">save</button>
			<button name="work-doc-reset-button" type="button" class="negative">cancel</button>
		</div>
		<div id="work-doc" class="rendered-wrapper rounded-block editable-section">
			<div id="work-doc-render">
				{{ user.work_doc.rendered|safe }}
			</div>
		</div>
	</div>
	<div class="span1"></div>
	<div class="span3" id="gratitudes-column">
		<h3 id="gratitudes-title">What are your gratitudes?</h3>
		{% if not user.gratitudes.all %}
			<div id="gratitudes-welcome" class="alert alert-info">
				<p><strong>Focus on the world's gifts</strong> for better perspective and happiness.</p>
			</div>
		{% endif %}
		<!-- GratitudeEditView is inserted here -->
		<!-- GratitudesView is inserted here -->
	</div>
</div>

{% endblock %}