{% extends "base/mobile_base.html" %}

{% block extra-links %}
	<link rel="stylesheet" href="{{MEDIA_URL}}banana/banana.css?v=5" />

<style>
.completed-item-meta-button { padding: 2px 10px 2px 10px; }
</style>

<script>
function rockCompletedItem(itemID, rock_count, element){
	try {
		$.post(
			'{% url banana.views.rock_completed_item %}',
			'completed_item_id=' + itemID,
			function(data) { 
				$(element).html('Rocked! (' + (rock_count + 1) + ')');
			},
			'json'
		);
		return false;
	} catch(er) {
		console.log('error', er);
		return false;
	}
}
</script>
{% endblock %}
