{% extends "banana/mobile/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-title %}To-do | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
	$('button[name="edit-work-doc-button"]').click(function(){
		document.location.href = "{% url banana.mobile_views.todo_edit %}";
	});
});
</script>
{% endblock %}

{% block sub-style %}
#work-doc-controls { float: right; padding: 0px; }
#work-doc {
	min-height: 300px;
}
{% endblock %}

{% block content %}
<div id="work-doc" class="rendered-wrapper">
	<div id="work-doc-controls">
		<button name="edit-work-doc-button" class="positive">edit</button>
	</div>
	{{ user.work_doc.rendered|safe }}
</div>
{% endblock %}