{% extends "banana/mobile/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-title %}To-do | {% endblock %}

{% block sub-head %}
<style>
#edit-work-doc-link {
	float: right;
	padding: 1em;
}
.work-doc-edit-view textarea {
	height: inherit;
}
</style>
<script>
var workDocEditView = null;
window.schema.once('populated',initPage);

function initPage(){
	$('#index-nav').addClass('active');
	window.workDoc = new window.schema.api.banana.WorkDoc({'id':'{{user.work_doc.id}}'});
	workDocEditView = new banana.views.WorkDocEditView({ 'model':workDoc });
	workDoc.fetch();
	$('#edit-work-doc-link').click(function(){
		workDocEditView.edit();
		$('.navbar-fixed-top').css('display', 'none');
		$('.work-doc-edit-view textarea').css('height', ($(window).height() / 2) - 40 + 'px');
		$(this).hide();
		return false;
	});
	workDoc.on('edit-completed', function(){
		$('#edit-work-doc-link').show()
		$('.navbar-fixed-top').css('display', 'block');
	})
	$('#work-doc-edit-row').append(workDocEditView.el);
	console.log($(window).height())
}
</script>
{% endblock %}

{% block sub-style %}
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span12" id="work-doc-edit-row">
			<a id="edit-work-doc-link"><i class="icon-edit" alt="edit"></i> edit</a>
		</div>
	</div>
{% endblock %}