{% extends "banana/mobile/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-title %}Notes | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
	$('button[name="edit-work-doc-button"]').click(function(){
		document.location.href = "{% url banana.mobile_views.todo_edit %}";
	});
});
</script>
{% endblock %}

{% block style %}
#work-doc-controls { float: right; padding: 0px; }
{% endblock %}

{% block content %}
<ul id="namespace-list">
	{% for namespace in user.namespaces.all %}
	<li><a href="{{ namespace.get_absolute_url }}">{{ namespace.display_name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}