{% extends "banana/mobile/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-title %}To-do Editor | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
	$('button[name="work-doc-reset-button"]').click(function(){
		document.location.href = "{% url banana.mobile_views.index %}";
	});
	$('button[name="work-doc-form-button"]').click(function(){ $('#work-doc-form').submit(); });
});
</script>
{% endblock %}

{% block style %}
#id_markup { width: 99%; height: 30em; }
{% endblock %}

{% block content %}
	<form id="work-doc-form" action="." method="post">
		{% for field in workdoc_form %}{{ field }}{% endfor %}
	</form>
	<button name="work-doc-form-button" type="button" class="positive">save</button>
	<button name="work-doc-reset-button" type="button" class="negative">cancel</button>
	<div id="center-bottom-message">It's all <a target="top" href="http://daringfireball.net/projects/markdown/syntax">markdown</a>, don't cha know.</div>
{% endblock %}