{% extends "banana/mobile/base.html" %}
{% load imagetags %}
{% load banana %}

{% block sub-title %}To-done | {% endblock %}

{% block sub-head %}
<script>
$(document).ready(function() {
	$('button[name="completed-form-button"]').click(function(){ $('#completed-form').submit(); });
});
</script>
{% endblock %}

{% block sub-style %}
.completed-items { list-style: none; margin: 0; padding: 0;}
#completed-form {
	height: 12em;
}
#id_markup { width: 99%; height: 6em; }
#id_link { display: none; }
#id_promoted { display: none; }
{% endblock %}

{% block content %}
	<form id="completed-form" action="{% url banana.mobile_views.todone %}" method="post">
		{% for field in completed_form %}{{ field }}{% endfor %}
		<button name="completed-form-button" type="button" class="positive">to-done!</button>
	</form>
	<ul class="completed-items">
	{% for completed_item in request.user.completed_items.all|slice:":10" %}
		{% completed_item_widget %}
	{% endfor %}
	</ul>
{% endblock %}
