/* Banana CSS */
.rendered-wrapper li { 	padding-left: 0em; margin-left: 1.6em;}

.rendered-wrapper ul > li {
	list-style-type: disc;
}

.rendered-wrapper ol > li {
	list-style-type: decimal;
}

.rendered-wrapper a, .rendered-wrapper a:hover { text-decoration: underline; }

.completed-item-li {
	border-bottom: solid 1px #EEE;
	margin-bottom: 10px;
}
.completed-item-meta { width: 100%; text-align: right; color: #888; }
